# Ignore everything by default
*
*.md
*.deb
*key_*
*.pemsss

# Whitelist specific file types
!*.tf
!*.py
!*.yaml
!*.yml
!*.zip
!*.html
!*.txt
!*.sh
!Dockerfile
!.gitkeep
!*.js
!*.json
config.json

# Whitelist the .gitignore file itself
!.gitignore

# Optional: Whitelist directories (to allow file inclusion in them)
!*/
.terraform/
